<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to "Vote Project", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Xin chào <%= current_user.user_name %> <%= image_tag(current_user.avatar.present? ? current_user.avatar : "/images/default-avatar.jpg", size: "30x30", class: "rounded-circle") %>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">Cài Đặt</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
            <%= button_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item", form: { style: "display: inline;" } %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>